Repository SoulSyncFrequency/SoulSyncApp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Delete health.ts
  health.ts
Due: eslint --fix, prettier --write

Delete hpa-backend.yaml
  hpa-backend.yaml
Due: none

Delete icon-192.png
  icon-192.png
Due: none

Delete icon-512.png
  icon-512.png
Due: none

Delete icon.png
  icon.png
Due: none

Delete index.css
  index.css
Due: prettier --write

Delete index.html
  index.html
Due: none

Delete index.ts
  index.ts
Due: eslint --fix, prettier --write

Delete ingress.yaml
  ingress.yaml
Due: none

Delete jest.config.js
  jest.config.js
Due: eslint --fix, prettier --write

Delete kustomization.yaml
  kustomization.yaml
Due: none

Delete lighthouserc.json
  lighthouserc.json
Due: prettier --write

Delete main.tsx
  main.tsx
Due: eslint --fix, prettier --write

Delete manifest.webmanifest
  manifest.webmanifest
Due: none

Delete metrics.ts
  metrics.ts
Due: eslint --fix, prettier --write

Delete migrate-secure.ts
  migrate-secure.ts
Due: eslint --fix, prettier --write

Delete migrate.js
  migrate.js
Due: eslint --fix, prettier --write

Delete namespace.yaml
  namespace.yaml
Due: none

Delete nginx.conf
  nginx.conf
Due: none

Delete openapi.yaml
  openapi.yaml
Due: none

Delete package.json
  package.json
Due: prettier --write

Delete pact-provider-verify.js
  pact-provider-verify.js
Due: eslint --fix, prettier --write

Delete pdf.ts
  pdf.ts
Due: eslint --fix, prettier --write

Delete postcss.config.js
  postcss.config.js
Due: eslint --fix, prettier --write

Delete privacy-policy.html
  privacy-policy.html
Due: none

Delete publish.yml
  publish.yml
Due: none

Delete pull_request_template.md
  pull_request_template.md
Due: prettier --write

Delete push.ts
  push.ts
Due: eslint --fix, prettier --write

Delete quality.yml
  quality.yml
Due: none

Delete rateLimit.ts
  rateLimit.ts
Due: eslint --fix, prettier --write

Delete real_flow.cy.ts
  real_flow.cy.ts
Due: eslint --fix, prettier --write

Delete release-drafter.yml
  release-drafter.yml
Due: none

Delete render.yaml
  render.yaml
Due: none

Delete schema.ts
  schema.ts
Due: eslint --fix, prettier --write

Delete seed.js
  seed.js
Due: eslint --fix, prettier --write

Delete selfheal.ts
  selfheal.ts
Due: eslint --fix, prettier --write

Delete sentry.ts
  sentry.ts
Due: eslint --fix, prettier --write

Delete server.ts
  server.ts
Due: eslint --fix, prettier --write

Delete settings.json
  settings.json
Due: prettier --write

Delete smiles.ts
  smiles.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.json)) or (any of: *.{md,css,scss})
