Repository SoulSyncFrequency/SoulSyncApp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add files via upload
  server.ts
Due: eslint --fix, prettier --write

Create DATABASE_URL
  DATABASE_URL
Due: none

Add files via upload
  deploy.yml
Due: none

Add files via upload
  check-admin.js
  check-users.js
  migrate.js
  seed.js
Due: eslint --fix, prettier --write

Add files via upload
  package.json
Due: prettier --write

Add files via upload
  .dockerignore
  .env.example
  .gitignore
  auth.ts
  bug_report.md
  check-admin.js
  check-users.js
  ci.yml
  feature_request.md
  flags.ts
  migrate.js
  publish.yml
  pull_request_template.md
  release-drafter.yml
  seed.js
  server.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Add files via upload
  .env.example
  .env.production
  Appfile
  Dockerfile
  Fastfile
  auth.ts
  capacitor.config.ts
  cookie-policy.html
  cypress.config.ts
  flags.ts
  icon-192.png
  icon-512.png
  icon.png
  index.css
  index.html
  main.tsx
  manifest.webmanifest
  nginx.conf
  package.json
  postcss.config.js
  privacy-policy.html
  splash.png
  sw.js
  tailwind.config.js
  terms-of-service.html
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write

Add files via upload
  .gitignore
  README.md
  STORE-CHECKLIST.md
  docker-compose.yml
  package.json
  render.yaml
Due: prettier --write

Add files via upload
  AuthPage.jsx
  LoginForm.jsx
Due: eslint --fix, prettier --write

Create JWT_SECRET
  JWT_SECRET
Due: none

Delete JWT_SECRET
  JWT_SECRET
Due: none

Add files via upload
  .env
  .env.production
  App.jsx
  Dashboard.jsx
  ForgotPassword.jsx
  Navigation.jsx
  ProtectedRoute.jsx
  ResetPassword.jsx
  Settings.jsx
  api.js
  auth.ts
  db.ts
  email.ts
  migrate-secure.ts
  package.json
  server.ts
  vite.config.js
Due: eslint --fix, prettier --write

Add files via upload
  README.md
Due: prettier --write

Create git checkout -b backup-pre-patch
  git checkout -b backup-pre-patch
Due: none

Delete git checkout -b backup-pre-patch
  git checkout -b backup-pre-patch
Due: none

Create git add -A git commit -m "Apply production patch" git push
  git add -A git commit -m "Apply production patch" git push
Due: none

Delete tsconfig.json
  tsconfig.json
Due: prettier --write

Create tsconfig.json
  tsconfig.json
Due: prettier --write

Create git add tsconfig.json git commit -m "Fix tsconfig.json for root-level project" git push
  git add tsconfig.json git commit -m "Fix tsconfig.json for root-level project" git push
Due: none

Update tsconfig.json
  tsconfig.json
Due: prettier --write

Add files via upload
  .env.example
  .env.production.example
  .eslintrc.json
  .gitignore
  .husky-pre-commit
  AuthPage.jsx
  Dashboard.jsx
  ForgotPassword.jsx
  LoginForm.jsx
  Navigation.jsx
  ProtectedRoute.jsx
  README.md
  RegisterForm.jsx
  ResetPassword.jsx
  Settings.jsx
  api.js
  migrate-secure.ts
  package.json
  server.ts
  settings.json
  tsconfig.json
  vite.config.js
Due: eslint --fix, prettier --write

Create Sidebar.tsx git commit -m "Fix Sidebar.tsx syntax errors" git push
  git add frontend/src/components/Sidebar.tsx git commit -m "Fix Sidebar.tsx syntax errors" git push
Due: none

Delete git add frontend/src/components directory
  git add frontend/src/components/Sidebar.tsx git commit -m "Fix Sidebar.tsx syntax errors" git push
Due: none

Add files via upload
  Sidebar.tsx
Due: eslint --fix, prettier --write

Create Sidebar.tsx git commit -m "Fix Sidebar.tsx (syntax error resolved)" git push
  git add frontend/src/components/Sidebar.tsx git commit -m "Fix Sidebar.tsx (syntax error resolved)" git push
Due: none

Delete git add frontend/src/components directory
  git add frontend/src/components/Sidebar.tsx git commit -m "Fix Sidebar.tsx (syntax error resolved)" git push
Due: none

Create SoulSyncApp
  SoulSyncApp
Due: none

Create SoulSyncApp1
  SoulSyncApp1
Due: none

Delete SoulSyncApp
  SoulSyncApp
Due: none

Delete SoulSyncApp1
  SoulSyncApp1
Due: none

Create SoulSync
  SoulSync
Due: none

Create Delete
  Delete
Due: none

Delete .dockerignore
  .dockerignore
Due: none

Delete .editorconfig
  .editorconfig
Due: none

Delete .env
  .env
Due: none

Delete .env.example
  .env.example
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.json)) or (any of: *.{md,css,scss})
