Repository SoulSyncFrequency/SoulSyncApp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{"*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"], "*.json": ["prettier --write"], "*.{md,css,scss}": ["prettier --write"]}

Delete splash.png
  splash.png
Due: none

Delete sum.test.ts
  sum.test.ts
Due: eslint --fix, prettier --write

Delete sw.js
  sw.js
Due: eslint --fix, prettier --write

Delete tailwind.config.js
  tailwind.config.js
Due: eslint --fix, prettier --write

Delete terms-of-service.html
  terms-of-service.html
Due: none

Delete therapy.test.ts
  therapy.test.ts
Due: eslint --fix, prettier --write

Delete therapy.ts
  therapy.ts
Due: eslint --fix, prettier --write

Delete therapy_flow.cy.ts
  therapy_flow.cy.ts
Due: eslint --fix, prettier --write

Delete tsconfig.json
  tsconfig.json
Due: prettier --write

Delete ultra51c.ts
  ultra51c.ts
Due: eslint --fix, prettier --write

Delete users.json
  users.json
Due: prettier --write

Delete validate.ts
  validate.ts
Due: eslint --fix, prettier --write

Delete values.yaml
  values.yaml
Due: none

Delete vite.config.js
  vite.config.js
Due: eslint --fix, prettier --write

Delete vite.config.ts
  vite.config.ts
Due: eslint --fix, prettier --write

Delete .config/termux directory
  .config/termux/termux.properties
Due: none

Delete .ssh directory
  .ssh/authorized_keys
Due: none

Delete storage directory
  storage/audiobooks
  storage/dcim
  storage/documents
  storage/downloads
  storage/external-0
  storage/media-0
  storage/movies
  storage/music
  storage/pictures
  storage/podcasts
  storage/shared
Due: none

Delete .gitconfig
  .gitconfig
Due: none

Add optimized .gitignore for Node/React/Capacitor
  .gitignore
Due: none

Add optimized .gitignore for Node/React/Capacitor + Android/iOS/IDE
  .gitignore
Due: none

Add .gitattributes and .env.example for CI/CD and environment setup
  .env.example
  .gitattributes
Due: none

Add CI workflow to build Android AAB
  .github/workflows/build-aab.yml
Due: none

CI: Android AAB build for monorepo (frontend+mobile)
  .github/workflows/build-aab.yml
Due: none

ci: add weekly cleanup + verified release workflow
  SoulSyncApp/.github/workflows/cleanup-artifacts.yml
Due: none

ci: add auto-release workflow (AAB build + upload)
  SoulSyncApp/.github/workflows/build-release.yml
  SoulSyncApp/gitclean.sh
  SoulSyncApp/gitpush.sh
Due: none

ci: add smart auto-release (trigger only if commit contains 'release')
  SoulSyncApp/.github/workflows/build-release.yml
Due: none

ci: fix conditional release + smart skip fallback
  SoulSyncApp/.github/workflows/build-aab.yml
Due: none

ci: fix parser bug with safe commit message check
  SoulSyncApp/.github/workflows/build-aab.yml
Due: none

Remove special character from workflow name
  .github/workflows/build-aab.yml
Due: none

ci: fix workflow parser + auto tag bump
  SoulSyncApp/.github/workflows/build-aab.yml
Due: none

ci: unify build AAB + auto-tag + gradle version bump
  SoulSyncApp/.github/workflows/build-aab.yml
Due: none

Update build-aab.yml
  .github/workflows/build-aab.yml
Due: none

ci: final unified AAB workflow
  SoulSyncApp/.github/workflows/build-aab.yml
Due: none

Refactor AAB build and release workflow
  .github/workflows/build-aab.yml
Due: none

ci: final self-healing AAB workflow release
  SoulSyncApp/.github/workflows/build-aab.yml
Due: none

ci: ultimate self-healing AAB pipeline v5.1 — Gradle cache + auto-tag + self-repair npm
  SoulSyncApp/.github/workflows/build-aab.yml
Due: none
