Repository SoulSyncFrequency/SoulSyncApp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{"*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"], "*.json": ["prettier --write"], "*.{md,css,scss}": ["prettier --write"]}

Delete .env.production
  .env.production
Due: none

Delete .env.production.example
  .env.production.example
Due: none

Delete .eslintrc.cjs
  .eslintrc.cjs
Due: none

Delete .eslintrc.json
  .eslintrc.json
Due: prettier --write

Delete .gitignore
  .gitignore
Due: none

Delete .husky-pre-commit
  .husky-pre-commit
Due: none

Delete .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write

Delete .nvmrc
  .nvmrc
Due: none

Delete .prettierrc.json
  .prettierrc.json
Due: prettier --write

Delete 0001_init.sql
  0001_init.sql
Due: none

Delete AUTO_OPTIMIZATION_README.md
  AUTO_OPTIMIZATION_README.md
Due: prettier --write

Delete About.tsx
  About.tsx
Due: eslint --fix, prettier --write

Delete App.jsx
  App.jsx
Due: eslint --fix, prettier --write

Delete App.tsx
  App.tsx
Due: eslint --fix, prettier --write

Delete Appfile
  Appfile
Due: none

Delete AuthPage.jsx
  AuthPage.jsx
Due: eslint --fix, prettier --write

Delete Chart.yaml
  Chart.yaml
Due: none

Delete DATABASE_URL
  DATABASE_URL
Due: none

Delete DarkModeToggle.tsx
  DarkModeToggle.tsx
Due: eslint --fix, prettier --write

Delete Dashboard.jsx
  Dashboard.jsx
Due: eslint --fix, prettier --write

Delete Delete
  Delete
Due: none

Delete Dockerfile
  Dockerfile
Due: none

Delete ErrorBoundary.tsx
  ErrorBoundary.tsx
Due: eslint --fix, prettier --write

Delete Fastfile
  Fastfile
Due: none

Delete ForgotPassword.jsx
  ForgotPassword.jsx
Due: eslint --fix, prettier --write

Delete Home.tsx
  Home.tsx
Due: eslint --fix, prettier --write

Delete LICENSE
  LICENSE
Due: none

Delete Login.tsx
  Login.tsx
Due: eslint --fix, prettier --write

Delete LoginForm.jsx
  LoginForm.jsx
Due: eslint --fix, prettier --write

Delete NavBar.tsx
  NavBar.tsx
Due: eslint --fix, prettier --write

Delete Navigation.jsx
  Navigation.jsx
Due: eslint --fix, prettier --write

Delete Privacy.tsx
  Privacy.tsx
Due: eslint --fix, prettier --write

Delete Profile.tsx
  Profile.tsx
Due: eslint --fix, prettier --write

Delete Protected.tsx
  Protected.tsx
Due: eslint --fix, prettier --write

Delete ProtectedRoute.jsx
  ProtectedRoute.jsx
Due: eslint --fix, prettier --write

Delete README.md
  README.md
Due: prettier --write

Delete Register.tsx
  Register.tsx
Due: eslint --fix, prettier --write

Delete RegisterForm.jsx
  RegisterForm.jsx
Due: eslint --fix, prettier --write

Delete Reports.tsx
  Reports.tsx
Due: eslint --fix, prettier --write

Delete ResetPassword.jsx
  ResetPassword.jsx
Due: eslint --fix, prettier --write
