Repository SoulSyncFrequency/SoulSyncApp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add GitHub workflow to validate required secrets
  .github/workflows/secret-check.yml
Due: none

Add security audit workflow for Node.js dependencies
  .github/workflows/security-audit.yml
Due: none

Add release drafter workflow
  .github/workflows/release-drafter.yml
Due: none

Add release drafter config
  .github/release-drafter.yml
Due: none

Add CODEOWNERS file
  .github/CODEOWNERS
Due: none

Add renovate configuration
  renovate.json
Due: prettier --write

Add CodeQL analysis workflow
  .github/workflows/codeql-analysis.yml
Due: none

Add CodeQL analysis workflow for security scanning
  .github/workflows/codeql-analysis.yml
Due: none

Add CodeQL analysis and dependency review workflows
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
Due: none

Add project README
  README.md
Due: prettier --write

feat(core): add wave-based ERI, self-regulation loop and dynamic response
  README-core.md
  eri.ts
  loop.ts
  response.ts
  state.ts
Due: eslint --fix, prettier --write

chore(core): move state.ts into core directory
  core/state.ts
Due: eslint --fix, prettier --write

chore(core): move eri.ts into core directory
  core/eri.ts
Due: eslint --fix, prettier --write

chore(core): move loop.ts into core directory
  core/loop.ts
Due: eslint --fix, prettier --write

chore(core): move response.ts into core directory
  core/response.ts
Due: eslint --fix, prettier --write

chore(core): move README-core.md into core directory
  core/README-core.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.json)) or (any of: *.{md,css,scss})
