Repository SoulSyncFrequency/SoulSyncApp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Delete STORE-CHECKLIST.md
  STORE-CHECKLIST.md
Due: prettier --write

Delete Settings.jsx
  Settings.jsx
Due: eslint --fix, prettier --write

Delete Settings.tsx
  Settings.tsx
Due: eslint --fix, prettier --write

Delete Sidebar.tsx
  Sidebar.tsx
Due: eslint --fix, prettier --write

Delete SoulSync
  SoulSync
Due: none

Delete Terms.tsx
  Terms.tsx
Due: eslint --fix, prettier --write

Delete Therapy.tsx
  Therapy.tsx
Due: eslint --fix, prettier --write

Delete _helpers.tpl
  _helpers.tpl
Due: none

Delete api.js
  api.js
Due: eslint --fix, prettier --write

Delete api.ts
  api.ts
Due: eslint --fix, prettier --write

Delete auth.test.ts
  auth.test.ts
Due: eslint --fix, prettier --write

Delete auth.ts
  auth.ts
Due: eslint --fix, prettier --write

Delete auth_flow.cy.ts
  auth_flow.cy.ts
Due: eslint --fix, prettier --write

Delete backend-deployment.yaml
  backend-deployment.yaml
Due: none

Delete backend-service.yaml
  backend-service.yaml
Due: none

Delete biometrics.ts
  biometrics.ts
Due: eslint --fix, prettier --write

Delete bug_report.md
  bug_report.md
Due: prettier --write

Delete capacitor.config.ts
  capacitor.config.ts
Due: eslint --fix, prettier --write

Delete check-admin.js
  check-admin.js
Due: eslint --fix, prettier --write

Delete check-users.js
  check-users.js
Due: eslint --fix, prettier --write

Delete ci.yml
  ci.yml
Due: none

Delete codeql.yml
  codeql.yml
Due: none

Delete consumer.test.ts
  consumer.test.ts
Due: eslint --fix, prettier --write

Delete cookie-policy.html
  cookie-policy.html
Due: none

Delete cypress.config.ts
  cypress.config.ts
Due: eslint --fix, prettier --write

Delete db.ts
  db.ts
Due: eslint --fix, prettier --write

Delete dependabot-automerge.yml
  dependabot-automerge.yml
Due: none

Create git rm -r * .[^.]* && git commit -m "delete all" && git push origin main
  git rm -r * .[^.]* && git commit -m "delete all" && git push origin main
Due: none

Delete dependabot.yml
  dependabot.yml
Due: none

Delete deploy.yml
  deploy.yml
Due: none

Delete docker-compose.yml
  docker-compose.yml
Due: none

Delete drizzle.config.ts
  drizzle.config.ts
Due: eslint --fix, prettier --write

Delete email.ts
  email.ts
Due: eslint --fix, prettier --write

Delete feature_request.md
  feature_request.md
Due: prettier --write

Delete flags.ts
  flags.ts
Due: eslint --fix, prettier --write

Delete frontend-deployment.yaml
  frontend-deployment.yaml
Due: none

Delete frontend-service.yaml
  frontend-service.yaml
Due: none

Delete git add -A git commit -m "Apply production patch" git push
  git add -A git commit -m "Apply production patch" git push
Due: none

Delete git add tsconfig.json git commit -m "Fix tsconfig.json for root-level project" git push
  git add tsconfig.json git commit -m "Fix tsconfig.json for root-level project" git push
Due: none

Delete git rm -r * .[^.]* && git commit -m "delete all" && git push origin main
  git rm -r * .[^.]* && git commit -m "delete all" && git push origin main
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.json)) or (any of: *.{md,css,scss})
